.task {
  position: relative;
  width: 100%;

  display: flex;
  align-items: center;
  padding: 1rem;
  gap: 0.75rem;

  background: var(--gray-500);
  border-radius: 8px;
}

.task label {
  height: 1.125rem;
  width: 1.125rem;
  position: absolute;
  left: 0;
  top: 0;

  border: 3px solid var(--blue-500);
  border-radius: 50%;
  cursor: pointer;

  margin: 1.2rem;
}

.task label:after {
  content: "";

  height: 3px;
  width: 7px;
  position: absolute;
  left: 2px;
  top: 3px;

  border: 2px solid var(--gray-100);
  border-top: none;
  border-right: none;

  transform: rotate(-45deg);
  opacity: 0;
}

.task input[type="checkbox"] {
  visibility: hidden;
}

.task input[type="checkbox"]:checked + label {
  background: var(--purple-600);
  border-color: var(--purple-600);
}

.task input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

.task span {
  margin-left: 0.75rem;

  font-weight: 400;
  font-size: 0.875rem;
  line-height: 1.25rem;

  color: var(--gray-100);
}

.task input[type="checkbox"]:checked + label + span {
  text-decoration: line-through;

  color: var(--gray-300);
}

.task button {
  margin-left: auto;

  background: none;
  line-height: 0;
  border: 0;

  cursor: pointer;
}

.task img {
  transition: filter 0.2s;
}

.task img:hover {
  filter: brightness(1.3);
}